<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <title>{{.Title}}</title>
</head>


<body>
<form action="/add" id="shoppingcart" method="post">

    <label for="name">Artikel</label>
    <input type="text" name="name" id="name" maxlength="30">

    <label for="menge">Menge</label>
    <input type="text" name="menge" id="menge" maxlength="40">

    <button type="reset">zurücksetzen</button>
    <button type="submit">absenden</button>
</form>

{{with $1:=.Response}}
<p>{{$1}} zu Artikeln hinzugefügt</p>
{{end}}

{{with $2:=.Artikel}}
<table>
    <tr>
        <th>Name</th>
        <th>Menge</th>
    </tr>
    {{range $2}}
    <tr>
        <td>{{.Name}}</td>
        <td>{{.Anz}}</td>
    </tr>
    {{end}}
</table>
{{end}}

</body>
</html>

